'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Gist It'
      'submenu': [
        { 'label': 'Gist Current File', 'command': 'gist-it:gist-current-file' }
        { 'label': 'Gist Selection', 'command': 'gist-it:gist-selection' }
        { 'label': 'Gist Open Buffers', 'command': 'gist-it:gist-open-buffers'}
      ]
    ]
  }
]
